main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

span {
  color: hsl(277, 64%, 61%);
}

img {
  background-color: hsl(277, 64%, 61%);
}

h3 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.2;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  line-height: 1.7;
  font-weight: 100;
}

small {
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  font-weight: 100;
}

section {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  background-color: hsl(244, 38%, 16%);
}

.card_text {
  padding: 60px;
  margin-bottom: 40px;
}

.card_stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

footer {
  width: 100%;
  align-self: flex-end;
  color: white;
}
