main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

span {
  color: hsl(277, 64%, 61%);
}

img {
  background-color: hsl(277, 64%, 61%);
}

h3 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9em;
  line-height: 1.7;
  font-weight: 100;
}

small {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.7em;
  font-weight: 100;
  letter-spacing: 0.7px;
}

section {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  background-color: hsl(244, 38%, 16%);
}

.card_text {
  display: grid;
  padding: 60px;
}

.card_stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: end;
}

.card_stats div {
  grid-template-rows: repeat(3, 1fr);
}

footer {
  width: 100%;
  align-self: flex-end;
  color: white;
}

@media screen and (max-width: 799px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card_image {
    width: 100%;
    justify-content: center;
  }

  .card_text {
    width: 100%;
    justify-content: center;
  }

  .card_stats {
    grid-template-rows: repeat(3, 1fr);
  }
}
